body {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: Cabin, Roboto, Tahoma, Verdana, Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #802000;
    color: #ffc266;
}
.logo {
    display: flex;
    align-items: center;
    background-color: #aaa;
}
.menu {
    align-items: center;
}
.menu li {
    display: inline;
    padding: 5px;
}

.section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffc266;
}
.cover {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 30px 30px 30px 30px;
    background-color: #aaa;
}
.payoff {
    padding: 30px;
    margin: 30px 30px 30px 30px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #802000;
    color: #ffc266;
}

.home {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 30%;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 30%;
}
.box {
    display: flex;
    background: #802000;
}