body {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Cabin, Roboto, Tahoma, Verdana, Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #802000;
    color: #ffc266;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    align-items: center;
}
.menu li {
    display: inline;
    padding: 5px;
}
.menu ul li a {
    text-decoration: none !important;
    color: inherit !important;
}
.menu li:hover {
    border-bottom: 3px solid #ffc266;
    padding-bottom: 5px;
}
.section {
    display: flex;
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #f2f2f2;
    color:  #8c8c8c;
    border-radius: 100px 100px 0px 0px;
}

/* Homepage */
.back {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 113%;
    background-color: #ffc266;
    background-image: url("img/sfondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.payoff {
    margin-bottom: 26%;
}
.payoff h1 {
    color: #802000;
    font-size: 90px;
}
.button {
    margin-top: -8%;
    display: inline-block;
    padding: 5px 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #802000;
    color: #ffc266;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
  }
  
.button:hover {
    background-color: #ffc266; 
    color:#802000;
}
.button a {
    text-decoration: none !important;
    color: inherit !important;
}

/* Map */
.mapsection {
    display: flex;
    width: 100%;
    height: 87%;
    background: #ffffff;
}
.mapback {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.mapback::-webkit-scrollbar {
    display: none;
}
.map {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    animation: 1s ease-out 0s 1 slideInFromLeft3;
}
.colonnasinistra {
    display: flex;
    flex-direction: column;
}
.colonnadestra {
    display: flex;
    flex-direction: column;
}
.boxtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px 5px 30px 30px;
    color: #404040;
 }
.box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px;
    margin: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px 5px 30px 30px;
    background-color: #802000;
    color: #ffc266; 
}
.box a {
    text-decoration: none !important;
    color: inherit !important;
}
.box2 a {
    text-decoration: none !important;
    color: inherit !important;
}
 .box:hover {
    transition: .5s ease;
    opacity: 0.5;
}
.box2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-items: center;
    padding: 50px;
    margin: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px 50px 30px 30px;
    background-color: #ffc266; 
    color:#802000;
}
.box2:hover {
    transition: .5s ease;
    opacity: 0.5;
}
.boxhidden {
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 30px 30px 30px 30px;
    visibility: hidden;
}
.line {
    border: 2px dashed #e6e6e6;
    padding-top: 147%;
    padding-bottom: 147%;
}
@keyframes slideInFromLeft3 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}
/*
#alligatoremap {
    background-color: #94d342;    
}
#bradipomap {
    background-color: #9e5915;
}
#camaleontemap {
    background-color: #ffa506;
}
#delfinomap {
    background-color: #96b3c9;
}
#dugongomap {
    background-color: #a22ff4;
}
#koalamap {
    background-color: #939293;
}
#lumacamap {
    background-color: #f4b251;
}
#medusamap {
    background-color: #ed70a9;
}
#orcamap {
    background-color: #ea1313;
}
#ornitorincomap {
    background-color: #9e5915;
}
#pandamap {
    background-color: #f4a2bd;
}
#pinguinomap {
    background-color: #353535;
}
#pipistrellomap {
    background-color:  #ea1313;
}
#polpomap {
    background-color: #c1a30e;
}
#quokkamap {
    background-color: #9e5915;
}
#ragnomap {
    background-color: #353535; 
}
#serpentemap {
    background-color: #94d342;
}
#squalomap {
    background-color: #96b3c9;
}
#tassomap {
    background-color: #f2d840;
}
#zanzaramap {
    background-color: #5eb1ef;
}
*/

/* About */
.aboutback {
    overflow: auto;
}
.aboutback::-webkit-scrollbar {
    display: none;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:  #808080;
    margin: 2% 20%;
    word-wrap: break-word;
    overflow: auto;
}
.about h2 {
    color: #404040;
}
.about h3 {
    color: #ffc266;
}
.about b {
    color: #404040;
}

/* Cards */
.cardsback {
    overflow: auto;
}
.cardsback::-webkit-scrollbar {
    display: none;
    word-wrap: break-word;
    overflow: auto;
}
.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color:  #808080;
    margin: 2% 19%;
}
.cardstext {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.cardstext h2 {
    color: #404040;
}
.cover {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 8%;
    margin-top: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
    animation: 1s ease-out 0s 1 slideInFromLeft2;
    object-fit: contain;
}
.magia1 {
    opacity: 1;
    transition: opacity .2s;
    position: static;
}
.magia1:hover {
    opacity: 0;
    position: static;
}
.magia2 {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
}
.magia2:hover {
    opacity: 1;
    object-fit: contain;
    position: absolute;
}
.prev {
    background-color: #f2f2f2;
    color:  #8c8c8c;
    padding: 1px 4px;
    margin-right: 2%;
    border-radius: 7px;
}
.prev:hover {
    background-color: #8c8c8c;
    color:  #f2f2f2;
}
.next {
    background-color: #f2f2f2;
    color:  #8c8c8c;
    padding: 1px 4px;
    margin-left: 2%;
    border-radius: 7px;
}
.next:hover {
    background-color: #8c8c8c;
    color:  #f2f2f2;
}
.cards a {
    text-decoration: none !important;
}
.cards b {
    color: #ffc266;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInFromLeft2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

/* Responsive */
@media only screen and (max-width: 600px) {

    .payoff h1 {
        color: #802000;
        font-size: 80px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        color:  #808080;
        margin: 1% 19%;
    }
    .cover {
        padding: 1px;
        margin-top: 1%;
        margin-bottom: 13%;
    }
    .magia1 {
        visibility: hidden;
        display: hidden;
        position: fixed;
    }
    .magia1:hover {
        visibility: hidden;
        display: hidden;
        position: fixed;
    }
    .magia2 {
        opacity: 1;
        visibility: visible;
        display: visible;
        position: static;
    }
    .magia2:hover {
        visibility: visible;
        display: visible;
        position: static;
    }
    .line {
        padding-top: 245%;
        padding-bottom: 245%;
    }
    .box {
        padding: 10px;
    }
    .box2 {
        padding: 10px;
    }
    .boxhidden {
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {

    .payoff h1 {
        color: #802000;
        font-size: 65px;
    }
    .cover {
        padding: 1px;
    }
    .magia1 {
        visibility: hidden;
        display: hidden;
        position: fixed;
    }
    .magia1:hover {
        visibility: hidden;
        display: hidden;
        position: fixed;
    }
    .magia2 {
        opacity: 1;
        visibility: visible;
        display: visible;
        position: static;
    }
    .magia2:hover {
        visibility: visible;
        display: visible;
        position: static;
    }
    .line {
        padding-top: 150%;
        padding-bottom: 150%;
        visibility: hidden;
    }
    .boxtitle {
        padding: 5px;
        margin: 6px 6px 6px 6px;
    }
    .box {
        padding: 5px;
        margin: 6px 6px 6px 6px;
    }
    .box2 {
        padding: 5px;
        margin: 6px 6px 6px 6px;
    }
    .boxhidden {
        padding: 5px;
        margin: 6px 6px 6px 6px;
    }
}